.neon-green-bar {
  background-color: #00FF00 !important;
}

.neon-green-button {
  background-color: #00FF00 !important;
  color: #000000 !important;
}

.neon-green-button:hover {
  background-color: #00DD00 !important;
}

.neon-green-text {
  color: #00FF00 !important;
}
